<div>
    {{nav-bar email=emailaddress homepage=(action 'HomePage')}}
</div>

<div id="main" style="padding: 5%;">
    
        {{#if shownothing}}
        <div class="text-center">
           <h1>No Results Found</h1> 
        </div>
        {{else}}
        <div class="row row-cols-6 g-9">
            {{#each resultset.ResultSet as |result|}}
            {{my-cards result=result viewcards=(action 'viewcards') isdelete=true email=emailaddress reload=(action
            'getSavedRecipe')}}
            {{/each}}
         </div>
        {{/if}}
   
</div>
{{outlet}}